html,
body {
  margin: 0;
  padding: 0;
}

#formBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.507);
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
}

.formCon {
  background-color: rgba(219, 213, 255, 0.9);
  width: 40vw;
  height: auto;
  max-height: 90vh;
  margin: 35px auto;
  padding: 20px 30px 20px 15px;
  border-radius: 25px;
  border: black solid 1px;
  box-shadow: rgb(0, 0, 0) 3px 5px 8px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0 auto;
  border-bottom: black solid 1.8px;
  width: 150px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

#x {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 1px;
  border-radius: 3px;
  background-color: red;
  color: #ddd;
}

#x:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: gray 0 0 3px;
}

label {
  font-weight: 900;
}

textarea {
  resize: none;
  margin-top: 15px;
  border-radius: 15px;
}

#comLabel {
  margin-bottom: -15px;
}

#name,
#email {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  padding: 5px;
}

#neutral,
#negative {
  margin-top: 15px;
  margin-left: 20px;
}

#submit {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  margin-left: 20px;
}

#submit:hover {
  background-color: rgb(65, 199, 65);
  transform: scale(1.2);
  box-shadow: black 0 0 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

#space {
  font-weight: 900;
}

#space:hover {
  text-decoration: underline;
}

.rightSide {
  float: right;
}

.navimg {
  background-color: white;
}

.navBarRight {
  right: 20px;
  padding: 11px 12px 8px;
  background-color: #567b95;
  color: white;
  margin: 5px 5px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  border-radius: 3px;
  border: none;
}

.navBarRight:hover {
  background-color: #4e8bb8;
  cursor: pointer;
}

#logo {
  position: fixed;
  padding: 0;
  top: 5px;
  left: 40vw;
}

.firstImg {
  margin-left: 20%;
}

#teleImg {
  max-width: 40%;
  margin-left: 30%;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  max-height: 50px;
  background-color: white;
  box-shadow: rgb(185, 185, 185) 0 1px 3px;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  visibility: hidden;
}

footer p {
  text-align: center;
  font-weight: 300;
}

.navBar p {
  font-size: 15px;
}

strong a {
  color: rgb(0, 0, 0);
}

.navBarMiddle {
  display: flex;
  justify-content: space-between;
}

.navBarMiddle a {
  color: black;
  font-weight: 900;
  text-decoration: none;
  margin-top: 15px;
  font-size: 15px;
}

.createAccount a {
  color: rgb(80, 80, 247);
  text-decoration: none;
}

.footerCon a {
  color: black;
  text-decoration: none;
}

.footer2Con a {
  color: rgb(116, 116, 116);
  float: left;
  margin-right: 15px;
  text-decoration: none;
}

.firstLeft a {
  color: blue;
  text-decoration: none;
}

.navBarMiddle a:hover {
  text-decoration: underline;
}

.navBarLogo {
  margin-top: -40px;
  padding-bottom: 10px;
  text-align: right;
}

#navBarLogo {
  margin-left: 50px;
  margin-top: 10px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  background-color: white;
  border: rgb(212, 212, 212) solid 1px;
  z-index: 1;
}

.body {
  margin-top: 100px;
}

.imgLogo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(235, 235, 235);
  margin-top: 50px;
  border: 1px solid white;
  margin-right: 5px;
}

.imgDesc {
  width: 600px;
  text-align: left;
  color: #888;
  margin-left: 20%;
}

#dennis {
  color: rgb(27, 27, 27);
  text-decoration: underline rgb(160, 160, 160);
}

h1 {
  border-bottom: solid rgb(197, 197, 197) 1px;
  padding-bottom: 20px;
  margin-top: 100px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#dennis:hover {
  text-decoration: none;
}

#imgMiddle {
  margin-left: 15%;
  width: 80%;
}

iframe {
  width: 40%;
  margin-left: 30%;
  height: 300px;
}

.createAccount {
  text-align: center;
  line-height: 2px;
  font-size: 15px;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 20px;
}

#createAcTop {
  border-top: rgb(184, 184, 184) solid 1px;
  padding-top: 15px;
  margin-right: 0;
  color: inherit;
}

#createAcBot {
  border-bottom: rgb(184, 184, 184) solid 1px;
  padding-bottom: 15px;
  color: rgb(80, 80, 247);
  margin-right: 0;
}

.vidDesc {
  margin-left: 30%;
  width: 40%;
  text-align: left;
  color: #888;
}

.footerCon {
  border-top: black double 1px;
  border-bottom: rgb(209, 209, 209) solid 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "text text text text text text" "news opinion arts living more subscribe";
  margin: -200px 50px 0;
}

#dontShow {
  cursor: pointer;
  color: rgb(71, 71, 71);
}

.first1 p,
h3 {
  line-height: 2px;
}

.first2 p,
h3 {
  line-height: 2px;
}

.first3 p,
h3 {
  line-height: 2px;
}

.firstLeft h3 {
  margin-bottom: 35px;
}

.firstLeft a:hover {
  text-decoration: underline;
}

.footerCon a:hover {
  text-decoration: underline;
}

.footer2Con a:hover {
  text-decoration: rgb(59, 59, 59) underline;
}

#subs {
  font-size: 13px;
  line-height: normal;
}

.rightDiv a:hover {
  color: rgb(133, 133, 133);
}

#subs a {
  color: #333;
}

.buttonCon {
  margin-bottom: 70px;
}

.buttonCon img {
  margin-left: 12px;
}

#buttonCom {
  text-transform: uppercase;
  color: white;
  padding: 10px 60px;
  background-color: rgb(86, 123, 149);
  margin-right: 40px;
  transition: 400ms;
  border-radius: 7px;
}

#buttonCom:hover {
  background-color: rgb(60, 132, 184);
  cursor: pointer;
}

.bottomCon {
  display: grid;
  grid-template-columns: 3fr 1.25fr;
  grid-template-rows: 1fr;
  grid-gap: 0 20px;
}

.leftDiv {
  border-top: black solid 1px;
  margin-left: 70px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.rightDiv {
  border-top: black solid 1px;
  margin-right: 70px;
  width: 200px;
}

.sideCon {
  padding: 10px 5px;
  border-top: rgb(214, 214, 214) solid 1px;
}

.sideText {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
}

.firstLeft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 15px;
  grid-template-areas: "first second third" "fourth fifth sixth";
}

.firstLeft > p {
  grid-area: third;
  text-align: right;
}

.first1 {
  max-width: 300px;
  height: 250px;
  padding: 10px;
  border: solid #ddd 1px;
  grid-area: fourth;
}

.first2 {
  max-width: 300px;
  height: 250px;
  padding: 10px;
  border: solid rgb(221, 221, 221) 1px;
  grid-area: fifth;
}

.first3 {
  max-width: 300px;
  height: 250px;
  padding: 10px;
  border: solid rgb(221, 221, 221) 1px;
  grid-area: sixth;
}

.plus {
  border: black solid 2px;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
  float: right;
  transition: 500ms;
}

.secondLeft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr;
  border-top: black solid 1px;
  grid-template-areas: "text text text" "vid1 vid2 none" "vid3 vid4 vid5";
}

.top h4 {
  font-weight: bolder;
}

.top h4:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.secondLeft h4:hover {
  color: #333;
}

.second1,
.second2,
.second3,
.second4,
.second5 {
  margin-top: 25px;
  height: 210px;
  padding: 0;
  width: 200px;
  margin-left: -40px;
}

.second1 {
  grid-area: vid1;
  margin-top: 25px;
}

.second2 {
  grid-area: vid2;
  margin-top: 25px;
}

.second3 {
  grid-area: vid3;
  margin-top: -85px;
}

.second4 {
  grid-area: vid4;
  margin-top: -85px;
}

.second5 {
  grid-area: vid5;
  margin-top: -85px;
}

.second1,
.second2,
.second3,
.second4,
.second5:hover {
  cursor: pointer;
}

.thirdLeft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr;
  grid-template-areas: "textt textt textt" "pic1 pic2 pic3";
  border-top: solid black 1px;
  margin-top: -180px;
}

.third1 {
  grid-area: pic1;
  margin-top: 25px;
  margin-left: -45px;
}

.third2 {
  grid-area: pic2;
  margin-top: 25px;
  margin-left: -45px;
}

.third3 {
  grid-area: pic3;
  margin-top: 25px;
  margin-left: -45px;
}

.third1,
.third2,
.third3:hover {
  cursor: pointer;
}

.news {
  grid-area: news;
}

.opinion {
  grid-area: opinion;
}

.arts {
  grid-area: arts;
}

.living {
  grid-area: living;
}

.more {
  grid-area: more;
  border-right: rgb(182, 182, 182) solid 1px;
}

.subscribe {
  grid-area: subscribe;
  margin-left: 10px;
}

.footerCon p {
  line-height: 6px;
  font-size: 15px;
}

.thirdLeft figcaption h4:hover {
  color: rgb(56, 56, 56);
}

.first1,
.first2,
.first3 {
  transition: 500ms;
}

.first1:hover {
  box-shadow: black 0 2px 5px;
  cursor: pointer;
}

.first1:hover .plus {
  color: white;
  background-color: black;
}

.first2:hover .plus {
  color: white;
  background-color: black;
}

.first3:hover .plus {
  color: white;
  background-color: black;
}

.first2:hover {
  box-shadow: black 0 2px 5px;
  cursor: pointer;
}

.first3:hover {
  box-shadow: black 0 2px 5px;
  cursor: pointer;
}

.editorsCon {
  width: 15%;
  height: 350px;
  display: flex;
  position: absolute;
  flex-flow: column;
  right: 50px;
  top: 1600px;
}

.editorsPic {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 80px 80px 80px;
  column-gap: 10px;
  border-top: rgb(209, 209, 209) solid 1px;
  padding-top: 15px;
}

.editor2,
.editor4,
.editor6 {
  color: #333;
  font-size: 15px;
}

.editor2:hover,
.editor4:hover,
.editor6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.editor1,
.editor3,
.editor5:hover {
  cursor: pointer;
}

.text {
  max-width: 45%;
  margin-left: 27.5%;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #333;
}

.anch {
  text-decoration: underline;
}

.anch:hover {
  text-decoration: none;
}

.imgLogo:hover {
  background-color: white;
  border: gray solid 1px;
  cursor: pointer;
}

#iconTop {
  text-align: left;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

.middlePart {
  display: grid;
  margin: 0 200px 100px 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 300px 300px 40px;
  grid-template-areas: "text text text text" "p1 p2 p3 p4" "p5 p6 p7 p8" "txt txt txt txt";
}

.i1,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8 {
  width: 200px;
  height: 130px;
  font-size: 14px;
  font-weight: 100;
  color: rgb(49, 48, 48);
}

.i1 {
  grid-area: p1;
  font-size: 14px;
  font-weight: 100;
}

.i2 {
  grid-area: p2;
}

.i3 {
  grid-area: p3;
}

.i4 {
  grid-area: p4;
}

.i5 {
  grid-area: p5;
}

.i6 {
  grid-area: p6;
}

.i7 {
  grid-area: p7;
}

.i8 {
  grid-area: p8;
}

.middleText {
  grid-area: text;
}

.middleText p {
  font-size: 15px;
  color: rgb(78, 78, 78);
}

abbr {
  font-weight: 900;
  margin-right: 15px;
  color: black;
}

.bottomMiddle {
  grid-area: txt;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: lighter;
  font-size: 15px;
}

span {
  border-top: black solid 1px;
  padding-top: 15px;
}

.top {
  line-height: -20px;
  border-bottom: rgb(187, 187, 187) solid 1px;
}

.top p {
  font-size: 12px;
}

.bottom p {
  font-size: 12px;
}

.footer2Con {
  margin: 0 80px 100px;
  font-size: 12px;
}

.figCap {
  width: 200px;
}

footer {
  transition: 500ms;
  height: 250px;
  margin-bottom: -200px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: black solid 1px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "txt" "content";
}

.footerMin {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 0.5fr 0.5fr;
  grid-template-areas: "none that none arrow arr";
  grid-area: txt;
}

footer:hover {
  cursor: pointer;
}

#expand {
  font-weight: bolder;
  text-transform: uppercase;
  z-index: 1;
  font-size: 12px;
  padding-top: 5px;
  grid-column-start: 4;
}

#footerTxt {
  grid-column-start: 2;
}

#expandArrow {
  grid-column-start: 5;
  z-index: 1;
  float: right;
  padding: 15px;
}

.exp {
  background-image: url("images/expand.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.col {
  background-image: url("images/collapse.png.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.footerMax {
  background-image: url(images/popup.jpg);
  background-size: 100% 100%;
  margin: 0 70px 30px;
}
